*{
    margin: 0;
    padding: 0;
    font-family: Caveat;
    
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.background img{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  
}


.content {
    margin-left: 20%;
    margin-top: 15%;
    position: relative;
    color: rgb(246, 237, 220);
    padding-right:25px ;
    

  }
  .content h1{
    font-size: 38px;
  }



.menu{
  cursor: pointer;  
  margin-top: 25%;
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: left top;
  padding: 25px;
  }

.menu a{
   color: rgb(246, 237, 220);
  font-size: 25px;
  text-decoration: none;
  padding: 14px 16px;
}




footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
 
 
   footer a img {
     width: 50px;
     height: 50px;
     
   }
   

.email {
    color: white;
    text-decoration: none;
    float: left;
    padding: 20px ;
    font-size: 25px;
    
    
}
.contact{
  float: right;
}


.filterDiv {
  float: left;
  display: none;
  padding-right: 25px;
  padding-bottom: 50px;
}

.show {
  display: contents;
  
}


.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
  
  
  
}

.sticky + .content {
  padding-top: 60px;
}
































 
@media screen and (max-width: 830px) {

  .content {
    font-size: 30px;
    margin-left: 20%;
    margin-top: 40%;
    position: relative;
    color: rgb(246, 237, 220);
    padding-bottom: 50px;
  }



.menu{
  cursor: pointer;  
  margin-top: 45%;
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: left top;
  padding: 15px;
  }

.menu a{
  color: rgb(246, 237, 220);
  font-size: 25px;
  text-decoration: none;
  padding: 14px 16px;
}


footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  
 
}


 footer a img {
   width: 50px;
   height: 50px;
 }
 






.email {
  color: white;
  text-decoration: none;
  float: left;
  padding: 20px ;
  font-size: 25px;
  
  
}
.contact{
float: right;
}


.filterDiv {
  float: left;
  display: none;
  padding-right: 25px;
  padding-bottom: 30%;
}

.show {
  display: contents;
}




}
 











 @media screen and (max-width: 500px) {

  .content {
    font-size: 15px;
    margin-left: 20%;
    margin-top: 50%;
    position: relative;
    color: rgb(246, 237, 220);
    padding-bottom: 50px;
  }

  .content h1{
    font-size: 20px;
  }



.menu{
  cursor: pointer;  
  margin-top: 90%;
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: left top;
  padding: 10px;
  }

.menu a{
  color: rgb(246, 237, 220);
  font-size: 20px;
  text-decoration: none;
  padding: 14px 16px;
}


footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;

  
}


 footer a img {
   width: 30px;
   height: 30px;
 }
 

.email {
  color: white;
  text-decoration: none;
  float: left;
  padding: 10px ;
  font-size: 20px;
  
  
}
.contact{
float: right;
}


.filterDiv {
  float: left;
  display: none;
  padding-right: 25px;
  padding-bottom: 30%;
}



.show {
  display: contents;
}

}

