*{
    margin: 0;
    padding: 0;
  }

  .myVideo{
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;    
  }

  @media (min-aspect-ratio: 16/9) {
    .myVideo{
      width: 100%;
      height: auto;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    .myVideo{
      width: auto;
      height: 100%;
    }
  }

.background img{
  position: fixed;
  width: 100%;
  height: 100%;
}







  @media screen and (max-width: 500px) {}

  @media screen and (max-width: 800px) {}


  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    
    position: fixed;
    top: 0;
    width: 100%;
  }

  nav ul li {
    color: #703d2a;
  }

  nav ul li a {
    float: right;
    display: block;
    color: white;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  nav ul li a:hover {
    background-color: #33170c;
  }

  .active {
    background-color: #703d2a;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    
  }
 
 
   footer a img {
     width: 50px;
     height: 50px;
   }
   
 