*{
    margin: 0;
    padding: 0;
    font-family: "Shadows Into Light", cursive;
    
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}


.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}


.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.background img{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  
}


.content {
    margin-left: 20%;
    margin-top: 15%;
    position: relative;
    color: rgb(246, 237, 220);
    padding-right:25px ;
    

  }
  .content h1{
    font-size: 35px;
  }
  .content p{
    font-size: 22px;
  }



.menu{
  cursor: pointer;  
  margin-top: 25%;
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: left top;
  padding: 25px;
  }

.menu a{
   color: rgb(246, 237, 220);
  font-size: 25px;
  text-decoration: none;
  padding: 14px 16px;
}




footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
 
 
   footer a img {
     width: 50px;
     height: 50px;
     
   }
   

.email {
  color: rgb(246, 237, 220);
  text-decoration: none;
  font-size: 30px;
    
    
}
.contact{
  float: right;
}


.filterDiv {
  float: left;
  display: none;
  padding-right: 25px;
  padding-bottom: 50px;
}




.show {
  display: contents;
  
}

.card{
  box-shadow: 0 6px 10px 5px rgba(129, 145, 199, 0.5);
  
}
.card:hover {
  box-shadow: 0 8px 16px 5px rgba(76, 130, 237, 0.5);
 
}

.card img{
  opacity: 0.3;
}
.card:hover img{
  opacity: 0.8;
}






.img1{
  box-shadow: 0 6px 10px 5px rgba(129, 145, 199, 0.5);
  opacity: 0.5;
}
.img1:hover {
  box-shadow: 0 8px 16px 5px rgba(76, 130, 237, 0.5);
  opacity: 1;
}

.img2{
  box-shadow: 0 6px 10px 5px rgba(129, 145, 199, 0.5);
  opacity: 0.5;
}
.img2:hover{
  box-shadow: 0 8px 16px 5px rgba(76, 130, 237, 0.5);
  opacity: 1;
}


.img3{
  box-shadow: 0 6px 10px 5px rgba(129, 145, 199, 0.5);
  opacity: 0.5;
}
.img3:hover{
  box-shadow: 0 8px 16px 5px rgba(76, 130, 237, 0.5);
  opacity: 1;
}

.img4{
  box-shadow: 0 6px 10px 5px rgba(129, 145, 199, 0.5);
  opacity: 0.5;
}
.img4:hover{
  box-shadow: 0 8px 16px 5px rgba(76, 130, 237, 0.5);
  opacity: 1;
}

.img5{
  box-shadow: 0 6px 10px 5px rgba(129, 145, 199, 0.5);
  opacity: 0.5;
}
.img5:hover{
  box-shadow: 0 8px 16px 5px rgba(76, 130, 237, 0.5);
  opacity: 1;
}

.img6{
  box-shadow: 0 6px 10px 5px rgba(129, 145, 199, 0.5);
  opacity: 0.5;
}
.img6:hover{
  box-shadow: 0 8px 16px 5px rgba(76, 130, 237, 0.5);
  opacity: 1;
}



.sticky {
  position: fixed;
  top: 0;
  z-index: 1; 
  
}

.sticky + .content {
  padding-top: 60px;
}







 
@media screen and (max-width: 830px) {

  .content {
    font-size: 30px;
    margin-left: 20%;
    margin-top: 40%;
    position: relative;
    color: rgb(246, 237, 220);
    padding-bottom: 50px;
  }



.menu{
  cursor: pointer;  
  margin-top: 45%;
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: left top;
  padding: 15px;
  }

.menu a{
  color: rgb(246, 237, 220);
  font-size: 25px;
  text-decoration: none;
  padding: 14px 16px;
}


footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  
 
}


 footer a img {
   width: 50px;
   height: 50px;
 }
 






.email {
  color: rgb(246, 237, 220);
  text-decoration: none;
  font-size: 25px;
}


.contact{
float: right;
}


.filterDiv {
  float: left;
  display: none;
  padding-right: 25px;
  padding-bottom: 30%;
}

.show {
  display: contents;
}


}
 











 @media screen and (max-width: 500px) {

  .content {
    font-size: 17px;
    margin-left: 20%;
    margin-top: 50%;
    position: relative;
    color: rgb(246, 237, 220);
    padding-bottom: 50px;
  }





.menu{
  cursor: pointer;  
  margin-top: 90%;
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: left top;
  padding: 10px;
  }

.menu a{
  color: rgb(246, 237, 220);
  font-size: 20px;
  text-decoration: none;
  padding: 14px 16px;
}


footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;

  
}


 footer a img {
   width: 30px;
   height: 30px;
 }
 

.email {
  color: rgb(246, 237, 220);
  text-decoration: none;
  font-size: 20px;

}
.contact{
float: right;
}


.filterDiv {
  float: left;
  display: none;
  padding-right: 25px;
  padding-bottom: 30%;
}



.show {
  display: contents;
}

}

